<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	verbose="true"
	failOnRisky="true"
	failOnWarning="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	bootstrap="vendor/autoload.php"
>
	<php>
		<ini name="error_reporting" value="-1" />
	</php>

	<testsuites>
		<testsuite name="Encase Matching Component Test Suite">
			<directory>./Tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./Tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>